body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.task-header {
    background-color: #3f6634;
    color: white;
    padding: 15px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #39b54a;
    color: white;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px;
    text-align: left;
}
